### EditorConfig設定ファイル
# とりあえず最初に記述
root = true

### 共通の設定
[*]

# ハードタブかソフトタブの設定
indent_style = space

# 改行コードの種類(lf/cr/crlf)
end_of_line = lf

# 文字コードの指定
charset = utf-8

# 行末の空白削除
trim_trailing_whitespace = true

# 最終行に空行を導入するかどうか
insert_final_newline = true

# インデントのスペースの数
indent_size = 4


### ファイル形式ごとに設定
[*.md]
trim_trailing_whitespace = false

